@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 500;
  src:
    /* IE6-IE8 */ url('GmarketSans/GmarketSansMedium.otf') format('embedded-opentype'),
    /* Super Modern Browsers */ url('GmarketSans/GmarketSansMedium.otf') format('woff2'),
    /* Modern Browsers */ url('GmarketSans/GmarketSansMedium.otf') format('woff'),
    /* Safari, Android, iOS */ url('GmarketSans/GmarketSansTTFMedium.ttf') format('truetype'),
    /* Legacy iOS */ url('GmarketSans/GmarketSansMedium.otf') format('svg');
}
@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 300;
  src:
    /* IE6-IE8 */ url('GmarketSans/GmarketSansLight.otf') format('embedded-opentype'),
    /* Super Modern Browsers */ url('GmarketSans/GmarketSansLight.otf') format('woff2'),
    /* Modern Browsers */ url('GmarketSans/GmarketSansLight.otf') format('woff'),
    /* Safari, Android, iOS */ url('GmarketSans/GmarketSansTTFLight.ttf') format('truetype'),
    /* Legacy iOS */ url('GmarketSans/GmarketSansLight.otf') format('svg');
}
@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 700;
  src:
    /* IE6-IE8 */ url('GmarketSans/GmarketSansBold.otf') format('embedded-opentype'),
    /* Super Modern Browsers */ url('GmarketSans/GmarketSansBold.otf') format('woff2'),
    /* Modern Browsers */ url('GmarketSans/GmarketSansBold.otf') format('woff'),
    /* Safari, Android, iOS */ url('GmarketSans/GmarketSansTTFBold.ttf') format('truetype'),
    /* Legacy iOS */ url('GmarketSans/GmarketSansBold.otf') format('svg');
}


@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  src:
    /* IE6-IE8 */ url('Pretendard/Pretendard-Thin.otf') format('embedded-opentype'),
    /* Super Modern Browsers */ url('Pretendard/Pretendard-Thin.woff2') format('woff2'),
    /* Modern Browsers */ url('Pretendard/Pretendard-Thin.woff') format('woff'),
    /* Safari, Android, iOS */ url('Pretendard/Pretendard-Thin.ttf') format('truetype'),
    /* Legacy iOS */ url('Pretendard/Pretendard-Thin.otf') format('svg');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  src:
    /* IE6-IE8 */ url('Pretendard/Pretendard-ExtraLight.otf') format('embedded-opentype'),
    /* Super Modern Browsers */ url('Pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
    /* Modern Browsers */ url('Pretendard/Pretendard-ExtraLight.woff') format('woff'),
    /* Safari, Android, iOS */ url('Pretendard/Pretendard-ExtraLight.ttf') format('truetype'),
    /* Legacy iOS */ url('Pretendard/Pretendard-ExtraLight.otf') format('svg');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src:
    /* IE6-IE8 */ url('Pretendard/Pretendard-Light.otf') format('embedded-opentype'),
    /* Super Modern Browsers */ url('Pretendard/Pretendard-Light.woff2') format('woff2'),
    /* Modern Browsers */ url('Pretendard/Pretendard-Light.woff') format('woff'),
    /* Safari, Android, iOS */ url('Pretendard/Pretendard-Light.ttf') format('truetype'),
    /* Legacy iOS */ url('Pretendard/Pretendard-Light.otf') format('svg');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src:
    /* IE6-IE8 */ url('Pretendard/Pretendard-Regular.otf') format('embedded-opentype'),
    /* Super Modern Browsers */ url('Pretendard/Pretendard-Regular.woff2') format('woff2'),
    /* Modern Browsers */ url('Pretendard/Pretendard-Regular.woff') format('woff'),
    /* Safari, Android, iOS */ url('Pretendard/Pretendard-Regular.ttf') format('truetype'),
    /* Legacy iOS */ url('Pretendard/Pretendard-Regular.otf') format('svg');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src:
    /* IE6-IE8 */ url('Pretendard/Pretendard-Medium.otf') format('embedded-opentype'),
    /* Super Modern Browsers */ url('Pretendard/Pretendard-Medium.woff2') format('woff2'),
    /* Modern Browsers */ url('Pretendard/Pretendard-Medium.woff') format('woff'),
    /* Safari, Android, iOS */ url('Pretendard/Pretendard-Medium.ttf') format('truetype'),
    /* Legacy iOS */ url('Pretendard/Pretendard-Medium.otf') format('svg');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src:
    /* IE6-IE8 */ url('Pretendard/Pretendard-SemiBold.otf') format('embedded-opentype'),
    /* Super Modern Browsers */ url('Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
    /* Modern Browsers */ url('Pretendard/Pretendard-SemiBold.woff') format('woff'),
    /* Safari, Android, iOS */ url('Pretendard/Pretendard-SemiBold.ttf') format('truetype'),
    /* Legacy iOS */ url('Pretendard/Pretendard-SemiBold.otf') format('svg');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src:
    /* IE6-IE8 */ url('Pretendard/Pretendard-Bold.otf') format('embedded-opentype'),
    /* Super Modern Browsers */ url('Pretendard/Pretendard-Bold.woff2') format('woff2'),
    /* Modern Browsers */ url('Pretendard/Pretendard-Bold.woff') format('woff'),
    /* Safari, Android, iOS */ url('Pretendard/Pretendard-Bold.ttf') format('truetype'),
    /* Legacy iOS */ url('Pretendard/Pretendard-Bold.otf') format('svg');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  src:
    /* IE6-IE8 */ url('Pretendard/Pretendard-ExtraBold.otf') format('embedded-opentype'),
    /* Super Modern Browsers */ url('Pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
    /* Modern Browsers */ url('Pretendard/Pretendard-ExtraBold.woff') format('woff'),
    /* Safari, Android, iOS */ url('Pretendard/Pretendard-ExtraBold.ttf') format('truetype'),
    /* Legacy iOS */ url('Pretendard/Pretendard-ExtraBold.otf') format('svg');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  src:
    /* IE6-IE8 */ url('Pretendard/Pretendard-Black.otf') format('embedded-opentype'),
    /* Super Modern Browsers */ url('Pretendard/Pretendard-Black.woff2') format('woff2'),
    /* Modern Browsers */ url('Pretendard/Pretendard-Black.woff') format('woff'),
    /* Safari, Android, iOS */ url('Pretendard/Pretendard-Black.ttf') format('truetype'),
    /* Legacy iOS */ url('Pretendard/Pretendard-Black.otf') format('svg');
}